[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Ajustes de rendimiento
query_cache_type = 1
query_cache_size = 32M
key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8

# Configuración de conexiones
bind-address = 0.0.0.0
max_connections = 100
max_user_connections = 20
wait_timeout = 600
port = 3306
user = mysql

# Configuración de caracteres y collation
character-set-server = utf8mb4
collation-server = utf8mb4_spanish_ci

# Configuración de log
log-error=/var/log/mysql/error.log
log-queries-not-using-indexes
slow_query_log
long_query_time = 2
slow_query_log_file = /var/log/mysql/slow-query.log

[mysqld_safe]
pid-file=/var/run/mysqld/mysqld.pid
